article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.value {
    font-size: 40px;
    word-break: break-all;
    color: cadetblue;
    margin: 50px 0;
}

article button {
    transition: all .2s ease-out;
    padding: 5px 15px;
    border: 2px solid cadetblue;
    font-size: 16px;
    background: white;
    color: cadetblue;
    font-weight: bold;
}

article button:hover {
    background: cadetblue;
    color: white;
}
